<h1>{{model.name}}</h1>
<p>{{model.description}}</p>
{{#if model.hasDegree}}
  <p>Has a degree from {{model.degreeFrom}}.</p>
{{/if}}
<p>Currently working at {{model.restaurant.name}}.</p>
<p>
  <button {{action 'fire' model}}>Fire!</button>
</p>