<div class="flex-container">
  <div class="flex-item">
    <h1>Chef Tracker</h1>
    <p id="explanation">Cooking today: {{cookingCount.length}} of our {{chefCount}} chefs.</p>
    <p>Our {{chefCount}} chefs teach {{totalNumberOfStudents}} students.</p>
    {{#each model as |chef|}}
      {{chef-card chef=chef}}
    {{/each}}
    <hr>
    {{input value=newChef}}<button {{action 'saveNewChef'}}>Save</button>
  </div>
  <div class="flex-item">
  {{outlet}}
  </div>
</div>